create table inventoryInfo
(
	goodsid varchar(10) primary key,
	goodsname varchar(30) not null,
	reserve int not null
);

create table goodsInfo
(
	goodsid varchar(10) primary key,
	goodsname varchar(30) not null,
	goodsprice smallint not null,
	goodsphotoid varchar(10) not null
);

create table goodsphoto
(
	goodsphotoid varchar(10) primary key,
	photourl varchar(50)
);

create table loginuser
(
	userName varchar(30),
	userPwd varchar(30)
);

create table sellInfo
(
	sellid varchar(10) primary key,
	selltime datetime not null,
	sellcount smallint not null,
	payment smallint not null,
	goodsid varchar(10) not null,
	staffid varchar(10) not null
);

create table staffInfo
(
	staffid varchar(10) primary key,
	staffname varchar(30) not null,
	staffgender char(2) not null,
	staffage smallint not null
);

create table stockInfo
(
	stockid varchar(10) primary key,
	stocktime datetime not null,
	goodscount smallint not null,
	goodsid varchar(10) not null,
	staffid varchar(10) not null
);