<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="lab7.Properties.Settings.GoodsConnectionString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\Goods.mdf;Integrated Security=True;Connect Timeout=30"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ConnectionString" value="Data Source=(LocalDB)\v11.0;AttachDbFilename=D:\jiyu\net\dblab7\databaseLab7\lab7\db\Goods.mdf;Integrated Security=True;Connect Timeout=30"/>
  </appSettings>

</configuration>
